/*-- scss:defaults --*/

$presentation-font-size-root: 50px;

/*-- scss:rules --*/
.smallish {
  font-size: 80%!important;
}

.smallish h2 {
  font-size: 80px;
}

.smaller {
  font-size: 65%!important;
}

.red {
  color: red;
}

.blue {
  color: blue;
}